# The template for the sky serve controller

name: {{service_name}}

setup: |
  # Install all cloud dependencies.
  # This is for multicloud support. To allow controller launch on all clouds,
  # we need to install all cloud dependencies.
  # This also includes all serve dependencies.
  pip install skypilot[all] > /dev/null 2>&1

  # Install gcloud CLI.
  {{google_sdk_installation_commands}}

file_mounts:
  {{remote_task_yaml_path}}: {{local_task_yaml_path}}

run: |
  SERVICE_DIR={{metadata_dir}}/$SKYPILOT_INTERNAL_JOB_ID
  mkdir -p SERVICE_DIR
  mv {{remote_task_yaml_path}} $SERVICE_DIR/task.yaml
  # Start sky serve service.
  python -u -m sky.serve.service \
    --service-id $SKYPILOT_INTERNAL_JOB_ID \
    --service-dir $SERVICE_DIR \
    --task-yaml $SERVICE_DIR/task.yaml \
    {% if service_name is not none %}
    --service-name {{service_name}} \
    {% endif %}
    > $SERVICE_DIR/controller.log 2>&1

envs:
{%- for env_name, env_value in envs.items() %}
  {{env_name}}: {{env_value}}
{%- endfor %}
